@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}
#root {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background: #fff;
}
.App {
  width: 290px;
  background: #45bcfe;
  border-radius: 10px;
  padding: 15px;
}
.error-message {
  font-size: 21px;
  text-align: center;
}
